body {
  box-sizing: border-box;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 24px 156px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}

.gallery-image:hover {
  transform: scale(1.04);
}
